{% extends "SiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Semestre {{ semestre }}{% endblock %}

{% block body %}
	<h1>Semestre {{ semestre }}</h1>
        <h2>Types de document</h2>

        <ul>
		<li><a href="{{ path('SiteBundle_showdoc', {'semestre': semestre, 'type': 'Cours'}) }}">Cours ({{ types[1] }} documents)</a></li>
		<li><a href="{{ path('SiteBundle_showdoc', {'semestre': semestre, 'type': 'TP'}) }}">TP ({{ types[1] }} documents)</a></li>
		<li><a href="{{ path('SiteBundle_showdoc', {'semestre': semestre, 'type': 'Sujet'}) }}">Sujet ({{ types[1] }} documents)</a></li>
		<li><a href="{{ path('SiteBundle_showdoc', {'semestre': semestre, 'type': 'Correction'}) }}">Correction ({{ types[1] }} documents)</a></li>
		<li><a href="{{ path('SiteBundle_showdoc', {'semestre': semestre, 'type': 'Autre'}) }}">Autre ({{ types[1] }} documents)</a></li>
	</ul>
{% endblock %}