{% extends "SiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ semestre }} - {{ type }}{% endblock %}

{% block body %}
	<h1>Semestre {{ semestre }} - {{ type }}</h1>
	<h2>Liste des documents</h2>
	<br>
	
	<ul>
		{% for file in files %}
			<li><a href="uploads/documents/{{ file.path }}">{{ file.name }}</a></li>
		{% else %}
			<li>Pas (encore !) de document...</li>
		{% endfor %}
	</ul>
{% endblock %}