{% extends "SiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - S{{ semestre }} - {{ type }}{% endblock %}

{% block breadcrumb %}
	{{ parent() }}
	<li><a href="{{ path('SiteBundle_showsem', {'semestre': semestre}) }}">Semestre {{ semestre }}</a><span class="divider">&gt;</span></li>
	<li class="active">{{ type }}</li>
{% endblock %}

{% block body %}
	<h1>Semestre {{ semestre }} - {{ type }}</h1>
	<h2>Liste des documents</h2>
	<br>
	
	<ul>
		{% for file in files %}
			<li><a href="uploads/documents/{{ file.path }}" target="_blank">{{ file.name }}</a></li>
		{% else %}
			<li>Pas (encore !) de document...</li>
		{% endfor %}
	</ul>
{% endblock %}